* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  gap: 5px;
}
body {
  padding-top: 2rem;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.calc--body {
  width: 30%;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  background-color: crimson;
}
.calc--screen {
  width: 90%;
  margin: 5px auto;
  height: 15vh;
  background-color: bisque;
  border: 2px solid black;

  display: flex;
  font-size: 2rem;
  align-items: center;
  overflow: auto;
}

.calc--buttons {
  width: 90%;
  margin: 5px auto;
}
.main--btns {
  flex-direction: column;
  width: 75%;
}
.main--operators {
  width: 25%;
  flex-direction: column;
}
.s__o,
.digit,
.p__o {
  width: 33.33%;
  height: 10vh;
  border-radius: 10px;
  font-size: 2rem;
  color: black;
}
.lrg {
  width: 66.66%;
}
.secondary--oper,
.dig--row,
.p__o {
  width: 100%;
}
.digit {
  background-color: grey;
}
.p__o {
  background-color: rgb(255, 169, 9);
}
.s__o {
  background-color: rgb(23, 255, 243);
}

.s__o:hover,
.digit:hover,
.p__o:hover {
  opacity: 0.9;
}
#period {
  font-weight: bolder;
}
footer {
  padding: 1rem;
  text-align: center;
  width: 100%;
  background-color: rgb(12, 12, 99);
  color: aliceblue;
}
a {
  text-decoration: none;
  color: aliceblue;
}
